*{
    margin: 0;
    padding: 0;
}
.header  {
    background-color: black;
    color: white;
    padding: 15px;
}
ul,h1,li{
   display: inline;
}
ul{
    margin-left: 60%;
}
li{
    margin-right: 5px;
    color: grey;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    padding: 10px;
    margin-top: 50px;
    width: 800px;
}
.search{
    text-align: center;
    border-width: 3px;
    border-color: gray;
}
.box{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 220px;
   display: inline-block;
}
.image{
    text-align: center;
    margin-top: 50px;
}
.box:hover{
    background-color: black;
    color: white;
}
.about{
    text-align: center;
    margin: 70px;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
